@import "../helpers.scss";

.tramiteContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

.sideBarContainer {
    height: 100vh;
    width: 18.7%;
}

.sideBarClose {
    width: 9%;
}

.contentContainer {
    height: 100vh;
    width: 81.3%;
}

.contentContainerClose {
    width: 91%;
}

.topBarContentContainer {
    height: 15.7%;
    width: 100%;
}

.topBarContentContainerClose {
    width: 100%;
}

.topBarContainer {
    border-bottom: 2px solid $BLUE;
    height: 100%;
    width: 100%;
}

.titleContainer {
    height: auto;
    padding: 29.78px 50px 64.5px 43px;
    width: 100%;
}

.formSearchContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 71.5px;
    padding: 0 50px 0 43px;
    width: 100%;
}

.inputContainer,
.buttonContainer {
    height: auto;
    width: 50%;
}

.buttonContainer {
    display: flex;
    justify-content: end;
    padding: 0;
    width: 100%;
}

.buttonIconContainer {
    align-items: flex-end;
    display: flex;
}

.buttonIconContainer div:nth-child(2) {
    margin: 0 10px;

    @include breakpoint(MD) {
        margin: 0 27px;
    }
}
.buttonsActionsContainer {
    align-items: center;
    display: flex;
    width: 100%;
}

.buttonsActionsContainer div:first-child {
    margin-right: 12.27px;
}