@import "../helpers.scss";

.configuracionContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

.sideBarContainer {
    height: 100vh;
    width: 18.7%;
}

.sideBarClose {
    width: 9%;
}

.contentContainer {
    height: 100vh;
    width: 81.3%;
}

.contentContainerClose {
    width: 91%;
}

.topBarContentContainer {
    height: 15.7%;
    width: 100%;
}

.topBarContentContainerClose {
    width: 100%;
}

.topBarContainer {
    border-bottom: 2px solid $BLUE;
    height: 100%;
    width: 100%;
}

.titleContainer,
.formContainer {
    height: auto;
    padding: 29.78px 50px 64.5px 43px;
    width: 100%;
}
